*{
    margin: 0;
}
#mywebsite section{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#landing{
    background-image: linear-gradient(to bottom, #00000050, #dfdfdfa9), url(../img/landing-img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    place-content: center;
    display: grid;
    color: white;
}
#landing :first-child{
    margin-bottom: 50px;
    font-size: 3vw;
    text-shadow: 0 2px 0 black;
    
}
#landing p {
    font-size: 3vm;
    margin-top: -35px;
    text-shadow: 0 2px 0 black;
} 
img{
    
    width: 300px;
    height: 160px;
    border-radius: 5px;
    /* border: 1px solid black; */
}
#blog{
    margin-top: 100px;
    /* border: 1px solid black; */
}
#blog :first-child{
    font-size: 35px;
}

#blog div{
    /* border: 1px solid black; */
    width:300px;
    height: 380px; 
    display: inline-block;
    text-align: justify; 
    text-align: left; 
    margin: 5px;
    border-radius: 5px;
    box-shadow: -1px 3px 3px -1px #242222bf;
    -webkit-box-shadow: -1px 3px 3px -1px #242222bf;
    -moz-box-shadow: -1px 3px 3px -1px #242222bf;
    border: 1px solid whitesmoke;

}
#blog p{
    text-align: justify;
    font-size: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    
}
#blog h2{
    font-size: 35px;
    padding-bottom: 30px;
}
#blog h3{
    padding-left: 35px;
}
#blog a{
    padding-left: 35px;
    color: gray;
    text-decoration: none;
    font-size: 14px;
}
#blog a:hover{
    color:red;
}

div:nth-child(4){
    color:white;
    background-color: black;
}
#services {
    margin-top: 10%;
    background-color: whitesmoke;
    height: 350px;
    
}
#services h2{
    font-size: 35px;
    padding-top: 100px;
    padding-bottom: 30px;

}
#services ul,li{
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    display: flex;
    padding-left: 35px;
    padding-right: 55px;
    justify-content: center;
}

li{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 20px;
    margin-right: 10px;
} ul :first-child{
    background-color: burlywood;
}
li:hover{
    box-shadow: -1px 3px 10px -1px #242222bf;
    -webkit-box-shadow: -1px 3px 10px -1px #242222bf;
    -moz-box-shadow: -1px 3px 10px -1px #242222bf; 
}




